.ds_wrapper {
  position: relative;
  padding-top: 5px;
  min-height: 65px;
}
.ds_wrapper a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.ds_wrapper .ds_title {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  color: #129793;
  font-weight: bold;
}
.ds_wrapper .ds_navigation {
  width: 100%;
}
.ds_wrapper .ds_leftNavigation,
.ds_wrapper .ds_rightNavigation {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  text-align: center;
  width: 23px;
  height: 23px;
  background-color: #129793;
}
.ds_wrapper .ds_leftNavigation:hover,
.ds_wrapper .ds_rightNavigation:hover {
  opacity: 0.8;
}
.ds_wrapper .ds_leftNavigation {
  left: 0;
}
.ds_wrapper .ds_rightNavigation {
  right: 0;
}
.ds_wrapper .ds_days {
  position: absolute;
  width: auto;
  display: table;
  margin: 0 23px;
}
.ds_wrapper .ds_days .ds_day {
  display: table-cell;
}
.ds_wrapper .ds_days .ds_day > div {
  clear: both;
  text-align: center;
  cursor: pointer;
}
.ds_wrapper .ds_days .ds_day > .ds_dayNumber {
  border-radius: 50%;
  width: 19px;
  height: 19px;
  margin: 0 auto;
  vertical-align: middle;
  font-size: 14px;
}
.ds_wrapper .ds_days .ds_day.selected > .ds_dayNumber {
  background-color: #129793;
  color: white;
}
.ds_wrapper .ds_days .ds_day.selected > .ds_dayNumber:hover {
  opacity: 0.8;
}
.ds_wrapper .ds_days .ds_day.selected > .ds_dayName {
  color: #129793;
}
